<header>
  <a href='/'>Home</a><br>
  <% if logged_in? %>
    <%= erb :'sessions/logout' %>
    <h1> <%= current_user.username %>'s Symptom Log</h1>
  <% else %>
    <h1>Symptom Log</h1>
      <a href='/users/new'>Sign up!</a><br>
      <a href='/sessions/new'>Log in!</a><br>
  <% end %>

</header>