<div id="user-registration">
<h1>New User Registration</h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>
  <form id="registration-form" method='post' action='/users'>
    <input type='text' name='user[username]' placeholder='username'>
    <input type='text' name='user[email]' placeholder='email'>
    <input type='text' name='user[phone]' placeholder='phone(+1xxxxxxxxxx)'>
    <input type='password' name='user[password]' placeholder='password'>
    <input type="submit" value='Register!'>
  </form>
</div>
