<% if logged_in? %>
<ul class ="tabs">
  <li class="tab" id="view-symptoms"><a href="/symptoms">View symptoms</a></li>
  <li class="tab" id="new-symptom"><a href="/symptoms/new">Enter new symptom</a></li>
  <li class="tab" id="edit-symptom"><a href="/symptoms">Edit a symptoms</a></li>
  <li class="tab" id="delete-symptom"><a href="/symptoms">Delete a symptom</a></li>
</ul>

<div id="user-info-viewer">

</div>
<% end %>

