<h1>Hello</h1>

<div>
  <%= session.inspect %>
</div>

<h2>Would you like to...</h2>
<a href="/symptoms/new">Enter a new symptom</a><br>
<a href="/symptoms/list">View your symptoms</a><br>
<a href="/symptoms/list">Edit a symptom</a><br>
<a href="/symptoms/list">Delete a symptom</a>