<h1>Symptom Tracker</h1>
<div>
  <%= session.inspect %>
</div>
<% if logged_in? %>
  <% redirect "/users/#{current_user.id}" %>
<% else %>
<h2>Would you like to...</h2>
<a href="/users/new">Register as a new user</a><br>
<a href="/sessions/new">Log in</a><br>
<% end %>